.github/**
.vscode/**
.vscode-test/**
out/**
images/**
node_modules/**
src/**
scripts/**
.gitignore
.yarnrc
esbuild.js
version.json
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
